
.navbar-left p:nth-child(1) {
    width: 197px;
    /* height: 42px; */
    flex-shrink: 0;
    color: #FFF;
    font-family: Quicksand;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 153.125%; /* 36.75px */
    letter-spacing: 0.96px;
}
.navbar-left p:nth-child(2) {
    /* width: 197px;
    height: 42px; */
    flex-shrink: 0;
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 153.125%; 
    letter-spacing: 0.96px;
}
.navbar-left p:nth-child(2) a{
    color: black;
}
.signin-content {
    height: 33vw;
    width: 35vw;
    position: absolute;
    top: 11vw;
    left: 34vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signin-content h1{
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}
.signin-content-p1 {
    color: #FFF;
    font-family: Quicksand;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 153.125%; /* 36.75px */
    letter-spacing: 0.96px;
    margin-top: 0.6vw;
}
.signup-btn{
    width: 450px;
    height: 50px;
    border-radius: 9px;
    border: 2px solid #c3c2c2;
    background: white;
    box-shadow: 4px 4px 11.9px 0px rgba(0, 0, 0, 0.25);
    margin-top: 1vw;
    color: #000;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.signup-btn1{
    background: #FEBE30;
}
.signup-btn2{
    border-radius: 4px;
}
.signin-content-p2{
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 1.5vw 0;
}
.signup-content-input {
    width: 430px;
    height: 50px;
    border-radius: 4px;
    border: 2px solid #FFF;
    background: #D9D9D9;
    box-shadow: 4px 4px 11.9px 0px rgba(0, 0, 0, 0.25);
    margin-top: 1vw;
    padding-left: 20px;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 3vw;

}